<h1>Home works!</h1>
<hr>

<h3>{{name}}</h3>

<button class="btn btn-primary" (click)="next()" >
  Cambiar nombre
</button>

<br>
<br>

<h3>Input / Output</h3>

<button class="btn btn-primary" (click)="changeName()" >
  Input / Output
</button>

<hr>
<app-hijo
  [nombreHijo]="nombre"
  (cambioNombreHijo)="eventObject = $event"></app-hijo>

  {{eventObject | json}}
